@font-face
{
  font-family: "Poppins";
  src: url(Poppins/Poppins-Regular.ttf);
}

*
{
  margin: 0;
  padding: 0;
  font-family: Poppins;
  box-sizing: border-box;
}

html
{
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

ul
{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #005ADD;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

li
{
  float: left;
}

li a
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.banner
{
  background-color: #005ADD; 
  height: 500px;
}

.about
{
  height: max-content;
}

.contact
{
  height: min-content;
  text-align: center;
  background-image: url();
  background-repeat: no-repeat;
}

.contact-title
{
  padding: 40px;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  cursor: pointer;
  display: inline-block;
}

.logo{
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
  float: left;
}

input[type=text], input[type=email] 
{ 
  width: 40%;
  border: 1px solid black;
  font-family: Poppins;
  padding: 12px 20px;
  margin: 8px 0;
  outline: none;
}

textarea 
{ 
  width: 40%;
  border: 1px solid black;
  font-family: Poppins;
  height: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  outline: none;
  resize: none;
}

input[type=submit] 
{
  background-color: #007EFE;
  color: white;
  border: none;
  width: 40%;
  font-family: Poppins;
  padding: 16px 32px;
  outline: none;
  cursor: pointer;
  margin: 20px;
  opacity: 0.6;
  transition: 0.3s;
}

input[type=submit]:hover {opacity: 1}
.footer-distributed 
{ /* Otimizar depois */
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 20px 20px;
}
  
.footer-distributed .footer-left p 
{
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
  /* Footer links */

.footer-distributed p.footer-links 
{
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}
  
.footer-distributed p.footer-links a 
{
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}
  
.footer-distributed .footer-links a:before 
{
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}
  
.footer-distributed .footer-links .link-1:before 
{
  content: none;
}
  
.footer-distributed .footer-right 
{
  float: right;
  margin-top: -8px;
  max-width: 180px;
}
  
.footer-distributed .footer-right a 
{
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}
  
.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
.footer-distributed p.footer-links a:hover{text-decoration:underline;}
  
  /* Media Queries */
  
@media (max-width: 600px) 
{
  .footer-distributed .footer-left, .footer-distributed .footer-right 
  {
    text-align: center;
  }
  .footer-distributed .footer-right 
  {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links 
  {
    line-height: 1.8;
  }
}
  
  /* Ficar de olho! */
.about-sec
{
	display: flex;
	padding: 3rem 0;
	width: 100%;
	justify-content: center;
	background: #FFF;
}

.about-img
{
	width: 250px;
	height: 180px;
	margin: 0 3rem;
}

.about-img img
{
	height: 100%;
	width: 100%;
}

.about-intro
{
	color: #000;
	width: 400px;
	height: 250px;
	border-left: 3px solid #005ADD;
	padding-left: 2rem;
	margin: 0 3rem;
}

.about-intro p
{
	margin-top: 1.5rem;
	font-size: 14px;
	opacity: .7;
}

@media only screen and (max-width: 900px) 
{
  .about-sec
  {
    flex-direction: column;
    align-items: center;
	}
	.about-img
  {
    width: 50%;
    height: 50%;
    display: block;
    margin-left: 0px;
    margin-right: 0px;
	}
	.about-intro
  {
		width: 100%;
		height: 100%;
		border-top: 3px solid #005ADD;
		border-left: none;
		padding: 1rem;
		margin-top: 2rem;
	}
	.about-intro h3,p
  {
    width: 100%;
    text-align: center;
	}
	.about-intro p
  {
    font-size: 12px;
	}
}

.icon 
{
  display: none;
}

@media screen and (max-width: 600px) 
{
  .navbar-links .individual-links:not(:first-child) {display: none;}
  .navbar-links .individual-links.icon 
  {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5px;
    float: right;
    display: block;
    margin-right: 5px;
  }
}

@media screen and (max-width: 600px) {
  .navbar-links.responsive {position: sticky;}
  .navbar-links.responsive.icon {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5px;
    margin-right: 5px;
  }
  .navbar-links.responsive .individual-links.icon {
    float: none;
    display: block;
    text-align: left;
  }
}

.navbar.responsive .individual-links.icon {
  display: block;
  text-align: left;
  float: none;
}





